<div class="link" id="link_<%= link.id %>">
	<h4><%= link_to link.title, link.uri %></h4>
    <p><%= link.description %></p>
    <p>Tags: <%= raw link.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
    <p><%= link.user.username rescue "No user" %></p>
    <% if(link.user == current_user) %>
	    <p><%= link_to 'Edit', edit_link_path(link), :remote => true %></p>
	    <p><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></p>
	<% end %>
</div>