<%= form_tag links_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :tag, params[:tag] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>

<div id="main">
	<div id="links">
		<% @links.each do |link| %>
			<%= render link %>
		<% end %>
	</div>
	<%= paginate @links %>
</div>

<div id="sidebar">
	<%= link_to 'New Link', new_link_path, :id => 'add_new_link', :remote => true %>
	<%= render :partial => 'shared/tag_cloud' %>
</div>