<h1><%= link_to 'Folld', root_path %></h1>

<%= form_tag links_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :tag, params[:tag] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= link_to 'New Link', new_link_path %>

<div id="tag_cloud">
  <% tag_cloud Link.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<% @links.each do |link| %>
  <%= render link %>
<% end %>

<br />
<%= paginate @links %>

