<div id="title_bar">
	<a href="#" class="icon-large tags-grey pull-right" id="show-tags"><span>Tags</span></a>
	<h1>
		<% if params[:username] then %>
			<div class="icon-large user-grey"></div><%= params[:username] %>
		<% end %>
		<% if params[:tag] then %>
			<div class="icon-large tags-grey"></div><%= params[:tag] %>
		<% end %>
		<%# params.inspect %>
		<% if(!params[:username] && !params[:tag]) %>
			Home
		<% end %>
	</h1>
</div>
<div id="main" class="links_view">
	<div class="tiles_outer">
		<div class="tiles_inner">
			<div class="tiles_item new_link_action">
				<%= link_to '+ New Link', new_link_path, :id => 'add_new_link', :remote => current_user ? true : false  %>
			</div>
			<div id="links">
				<% @links.each do |link| %>
					<%= render link %>
				<% end %>
			</div>
			<div class="tiles_item">
				<%= paginate @links %>
			</div>
		</div>
	</div>
</div>

<footer>
	<%= render :partial => 'shared/tag_cloud' %>
</footer>