<!DOCTYPE html>
<html>
<head>
    <title>Folld</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:700,300' rel='stylesheet' type='text/css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

    <header class="clearfix">
        <%= link_to content_tag(request.fullpath == '/' ? :h1 : :span, 'Folld'), root_path, :id => "site_logo" %>
        <%= form_tag links_path, :id => 'search', :method => 'get' do %>
            <%= text_field_tag :tag, params[:tag] %>
            <%= submit_tag "Go", :name => nil %>
        <% end %>

        <nav id="user_nav">
            <% if user_signed_in? %>
                <div class="logged_in_as">Logged in as <%= link_to current_user.email, edit_user_registration_path %></div>
                <%= link_to 'My Links', user_links_path(current_user.username) %>
                <%= link_to "Logout", destroy_user_session_path, :class => 'logout', method: :delete %>
            <% else %>
                <%= link_to "Sign up", new_user_registration_path %>
                <%= link_to "Login", new_user_session_path, :remote => true %>
            <% end %>
        </nav>

        <%= render 'layouts/flash_messages' %>
        
    </header>

    <%= yield %>

</body>
</html>
